<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeHandlers>
        <!--注册自定义的typeHandler -->
        <typeHandler handler="com.liuyun.Hello.mapper.typehandler.OffsetDataTimeTypeHandler"></typeHandler>
    </typeHandlers>
</configuration>